In [28]:
import psycopg2
import pandas as pd

In [10]:
def connect():
    conn = psycopg2.connect(user="postgres", password="postgres", host="0.0.0.0", port="5438", database="postgres")
    return conn.cursor(), conn

In [36]:
def db_cleanup(conn, cur):
    cur.close()
    conn.close()

In [38]:
def to_pandas(res, cur):
    return pd.DataFrame(res, columns=[col.name for col in cur.description])

In [15]:
cursor = conn.cursor()
tbl = "retail_sales"

In [24]:
qry = """
SELECT sales_month
,kind_of_business
,sales
,sum(sales) over (partition by sales_month) as total_sales
,sales * 100 / sum(sales) over (partition by sales_month) as pct_total
FROM retail_sales 
WHERE kind_of_business in ('Men''s clothing stores','Women''s clothing stores')
ORDER BY 1
;
"""

In [25]:
cursor.execute(qry)

In [26]:
res = cursor.fetchall()

In [35]:
pd.DataFrame(res, columns=[col.name for col in cursor.description])

,sales_month,kind_of_business,sales,total_sales,pct_total
0,1992-01-01,Women's clothing stores,1873,2574,72.7661227661227661
1,1992-01-01,Men's clothing stores,701,2574,27.2338772338772339
2,1992-02-01,Men's clothing stores,658,2649,24.8395620989052473
3,1992-02-01,Women's clothing stores,1991,2649,75.1604379010947527
4,1992-03-01,Women's clothing stores,2403,3134,76.6751754945756222
...,...,...,...,...,...
691,2020-10-01,Women's clothing stores,2634,2634,100.0000000000000000
692,2020-11-01,Men's clothing stores,None,2726,None
693,2020-11-01,Women's clothing stores,2726,2726,100.0000000000000000
694,2020-12-01,Men's clothing stores,604,4003,15.0886834873844617
695,2020-12-01,Women's clothing stores,3399,4003,84.9113165126155383